$font-family-all: 'Tahoma Regular';
$font-family-article: 'Verdana Regular';
$font-family-logo: 'Showcard Gothic Regular';

$context-p: 12px;
$h1-diff-size: 48px;
$buttons-size: 14px;
$h6-diff-size: 16px;